.product-filters-container{
  max-width: 140rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  position: relative;

  .ReactCollapse--collapse{
    width: 100%;
  }

  .products-filters{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sort-filters{
    display: flex;
    justify-content: space-between;
    
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.5rem;
    }

    .left-container{
      display: flex;
      gap: 1.3rem;

      @media (max-width: 768px) {
        gap: 1.3rem;
        flex-wrap: wrap;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  @media (min-width: 1440px) {
    padding: 2rem 0;
  }
}