.order-product {
  position: relative;
  width: 6rem;
  height: 6rem;

  img {
    width: 100%;
    height: 100%;
  }

  .product-count-badge {
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
}