.hero-section-wrapper{
  position: relative;

  .scroll-button{
    border-radius: 100%;
    padding: 0;
    height: 6rem;
    width: 6rem;
    border: none;
    background-color: $mainWhite;
    position: absolute;
    top: 45%;
    color: black;
    cursor: pointer;
    z-index: 10;
    box-shadow: -2px -2px 6px $colorWhite, 3px 3px 8px rgba(132, 132, 145, 0.8);
    
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1.5rem;
    }

    @media (max-width: 763px) {
      display: none;
    }
  }

  .right-button{
    right: 3%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .left-button{
    left: 7%;
    transform: translate(-50%, -50%) rotate(270deg);
  }
}

.hero-section-container{
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  padding: 0 8rem;
  margin: 6.9rem 0 12.3rem 0;

  scrollbar-width: none;
  -ms-overflow-style: none;

  @media(max-width: 768px) {
    padding: 0 3rem;
    margin: 6.9rem 0 4.9rem 0;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .hero-card {
    width: 446px;
    height: 499px;
    background-color: $mainWhite;
    border-radius: 5px;
    display: inline-block;
    margin: 0 2rem;
    padding: 0 6rem;
    cursor: pointer;
    transition: all ease-in-out 500ms;

    .hero-title {
      margin-top: 5.2rem;
      margin-bottom: 0.7rem;
      color: $mainBlue;
      -webkit-text-stroke: 0.8px $mainBlue; /* WebKit (Safari, Chrome) */
      text-stroke: 0.8px $mainBlue; /* Standard syntax */
      stroke: 0.8px $mainBlue;
    }

    .product-label {
      position: relative;
      text-decoration: none;
      color: $mainBlue;
      margin-bottom: 4.7rem;
      -webkit-text-stroke: 0.5px $mainBlue; /* WebKit (Safari, Chrome) */
      text-stroke: 0.5px $mainBlue; /* Standard syntax */
      stroke: 0.5px $mainBlue;
      width: fit-content;

      // Custom underline
      &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background-color: $mainBlue;
          margin-bottom: 1px;
          display: block;
      }
    }

    .product-image{
      width: 230px;
      height: 230px;
      object-fit: contain;
      align-self: self-end;
      right: 0;
      margin: 0 auto;
      margin-bottom: 4rem;
    }

    .btn-container{
      position: relative;
      width: 100%;
  
      .add-to-cart-button-underlined {
        font-size: 1.4rem;
        min-height: 4rem;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        color: $mainWhite !important;
        -webkit-text-stroke: 1px $mainWhite;
        text-stroke: 1px $mainWhite;
        position: absolute;
        right: 0;
        transition: scale ease-in 0.2s;
    
        &:hover {
          scale: 1.1;
        }
        &:focus {
          padding: 0.2rem 2rem;
        }
      }
    }

    &:hover, &.active {
      background-color: $lightBeige !important;

      .hero-title, .product-label {
        color: $colorWhite;
        -webkit-text-stroke: 0.5px $colorWhite; /* WebKit (Safari, Chrome) */
        text-stroke: 0.5px $colorWhite; /* Standard syntax */
        stroke: 0.5px $colorWhite;

        &::after{
          background-color: $mainWhite;
      }
      }
    }

    @media(min-width: 768px) {
      &.hover-animate {
        transition: all ease-in 0.4s;
        .product-image{ 
          transition: all ease-in 0.4s;
          transform: translateX(3%) translateY(3%);
          scale: 1.04;
        }
        .btn-container{
          transition: all ease-in 0.4s;
          opacity: 0;
        }
  
        &:hover {
          .product-image{ 
            transform: translateX(0%) translateY(0%);
            scale: 1;
          }
          .btn-container{
            opacity: 1;
          }
        }
      }
    }


    @media(max-width: 768px) {
      width: 296px;
      height: 389px;
      padding: 0 2rem;

      .product-label {
        margin-bottom: 1rem;
        font-size: 14px;
      }

      .product-image{
        width: 189px;
        height: 189px;
        margin-bottom: 2rem;
      }
    }
  }
}
