.arrow-btn {
  height: 2.4rem;
  width: 2.4rem;
  background-color: $mainWhite;
  box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-radius: 10rem;
  position: relative;
  cursor: pointer;
  border: none;

  svg {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.down {
    svg {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}

