.btn {
  border-radius: 10rem;
  border: none;
  padding: 0.2rem 2rem;
  transition: 100ms linear;
  cursor: pointer;
  transform-origin: center;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  text-transform: capitalize;

  &--authPrimary {
    font-size: 1.4rem;
    background-color: $mainBlue;
    color: $colorWhite;
    box-shadow: (4px 10px 20px rgba(0, 0, 0, 0.16));
    width: 100%;
    height: 3.5rem !important;

    @include respond-to('small') {
      font-size: 1.6rem;
    }

    @include respond-to('medium') {
      font-size: 1.8rem;
      min-height: 4.8rem;
    }

    &.inverted {
      color: $mainBlue;
      background-color: $colorWhite;

      &:hover {
        font-size: 1.55rem;
        background-color: $lightWhite;
        letter-spacing: -0.01em;
      }

      &:focus {
        background-color: $darkWhite;
        font-size: 1.6rem;
        padding: 1rem 4rem;
      }
    }

    &:hover {
      font-size: 1.55rem;
      background-color: $lightBlue;
      letter-spacing: -0.01em;
    }

    &:focus {
      background-color: $darkBlue;
      font-size: 1.6rem;
      padding: 1rem 4rem;
    }
  }

  &--primary {
    font-size: 1.4rem;
    background-color: $mainBlue;
    color: $colorWhite;
    box-shadow: (4px 10px 20px rgba(0, 0, 0, 0.16));
    min-height: 4rem;

    @include respond-to('small') {
      font-size: 1.6rem;
      min-width: 0rem !important;
      min-height: 3.5rem !important;

    }

    @include respond-to('medium') {
      font-size: 1.8rem;
      min-width: 22rem !important;
      min-height: 3.5rem !important;
    }

    &.inverted {
      color: $mainBlue;
      background-color: $colorWhite;

      &:hover {
        font-size: 1.55rem;
        background-color: $lightWhite;
        letter-spacing: -0.01em;
      }

      &:focus {
        background-color: $darkWhite;
        font-size: 1.6rem;
      }
    }

    &:hover {
      font-size: 1.55rem;
      background-color: $lightBlue;
      letter-spacing: -0.01em;
    }

    &:focus {
      background-color: $darkBlue;
      font-size: 1.6rem;
    }
  }

  &--secondary {
    background-color: $mainWhite;
    color: $mainBlue;
    font-size: 1.4rem;
    font-weight: 600;
    min-height: 4rem;
  }

  &--tertiary {
    background-color: $mainBeige;
    color: $colorWhite;
    font-size: 1.4rem;
    font-weight: 600;
    min-height: 4rem;
    box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);

    &:hover {
      background-color: $lightBeige;
      box-shadow: -2px -2px 6px #ffffff, 3px 3px 6px rgba(174, 174, 192, 0.4);
    }

    &:focus {
      background: $darkBeige;
    }
  }

  &--inactive {
    background-color: $colorInactive;
    cursor: not-allowed;
    opacity: 0.5;

    &:hover:not(.btn--iconButton) {
      background-color: $colorInactive;
      font-size: initial;
    }

    &:focus {
      background-color: darken($colorInactive, 10%);
    }
  }

  &--neumorphism {
    background-color: $mainWhite;
    border: 2px solid $mainWhite;
    box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgb(174 174 192 / 40%);
    color: #00546f;
    font-size: 1.8rem;
    min-width: 23rem;
    min-height: 4.8rem;
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    &:hover {
      font-size: 1.6rem;
    }

    &:focus {
      font-size: 1.6rem;
    }
  }

  &--naked {
    background-color: transparent;
    border: none;
    color: $mainBlue;
    font-size: 1.4rem;
  }

  &--iconButton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;

    &>svg {
      display: block;
    }
  }

  &>span {
    display: inline-block;
    vertical-align: middle;
    margin-inline-end: 1rem;
  }

  &--iconButton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;

    &>svg {
      display: block;
    }
  }

  &.preference-button {
    min-width: 25rem;
  }
}