.download-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #1d648a;
  color: $colorWhite;
  border-radius: 0.5rem;

  svg {
    margin-inline-end: 0.5rem;
  }

  .text {
    color: $colorWhite;
    line-height: 2rem;
  }

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}
