.plus-button {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  background-color: $mainBlue;
  position: relative;
  border: none;
  cursor: pointer;
  filter: drop-shadow(-1px -1px 3px #FFFFFF) drop-shadow(1.5px 1.5px 3px rgba(174, 174, 192, 0.4));

  &:hover {
    background-color: $lightBlue;
  }

  &:focus {
    background-color: $darkBlue;
  }

  &:disabled {
    background-color: $colorInactive;
  }

  &__cross {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
  }

  &__line {
    background-color: $colorWhite;

    &-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 0.2rem;
    }

    &-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0.2rem;
      width: 100%;
    }
  }
}
