.order-history-item {
  padding: 2rem;
  background: #F7F7F7;
  box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-radius: 8px;
  margin-block-end: 1.5rem;

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid #E2E0DB;
    padding-block-end: 1.5rem;

    .btn {
      margin: 0;
    }
  }

  &__body {
    .order-history-item__details {
      padding-block-start: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      &-title {
        margin-block-end: 0.8rem;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid #E2E0DB;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #4A4A4A;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &__products {
    margin-block-start: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__head-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .order_status_badge {
      background-color: #176782;
      color: #ffffff;
      padding: 4px 8px;
      border: none;
      border-radius: 25px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}