.all-filters-button{
    background: white;
    border-radius: 20px;
    border: 0.8px solid rgba(154, 151, 164, 0.2);
    box-shadow: -2px -2px 6px #ffffff, 3px 3px 6px rgba(174, 174, 192, 0.4);
    width: 12.5rem;
    height: 3.7rem;
    text-align: center;
    color: $mainBlue;
    font-weight: 600;
    padding: 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 1rem;
}