.product-attachments {
  margin-top: 2rem;
  border-top: 1px solid #e5e5e5;
  padding-top: 1.5rem;

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #00546F;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
  }

  &__name {
    font-size: 1rem;
  }

  &__buttons {
    display: flex;
    gap: 0.75rem;

    a {
      font-size: 1.4rem;
      font-weight: 700;
      color: white;

      padding: 0.6rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;


    }
  }
}