.send-as-present {
  margin-bottom: 2rem;
  &__gift-note {
    width: 100%;
    border: 1px solid #ccc;
    color: $secondaryGray;
    border-radius: 0.8rem;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
    padding: 1rem;
    min-height: 5rem;
    font-size: 1.4rem;
    font-weight: 300;
    max-width: 100%;
    max-height: 20rem;
  }

  &__characters-left {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: $secondaryGray;
    margin-left: 1rem;
    margin-bottom: 3rem;
    display: block;
  }
}
