.custom-checkbox {
  display: inline-block;
  margin-inline-end: 2rem;
  cursor: pointer;
  margin-bottom: 0 !important;

  &__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:disabled {
      & ~ .custom-checkbox__text {
        color: $colorInactive;
      }

      & ~ .custom-checkbox__checkmark::after {
        background-color: $colorInactive;
      }
    }

    &:focus + .custom-checkbox__checkmark::before {
      border-color: $mainBlue;
    }

    &:checked + .custom-checkbox__checkmark {
      &::after {
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.28, 0.05, 0.605, 1.48);
      }
    }
  }

  &__text {
    color: $mainBlue;
    font-size: 1.4rem;
    vertical-align: middle;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__checkmark {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    vertical-align: middle;
    margin-inline-end: .8rem;
    cursor: pointer;
    flex-shrink: 0;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      border: 2px solid $mainBlue;
      vertical-align: middle;
      box-sizing: border-box;
      transition: all 0.2s cubic-bezier(0.28, 0.05, 0.605, 1.48);
    }

    &::after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      background-color: $mainBlue;
      background-image: url('./arrow.svg');
      background-position: center center;
      background-size: 1rem 1rem;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: text-top;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.28, 0.05, 0.605, 1.48);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
