   
.clear-all-filters-button{
    background: white;
    border: none;
    width: auto;
    height: 3.7rem;
    text-align: center;
    color: $mainBlue;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    margin: 0; 

    .cross-icon{
        padding-top: 6px;
        width: 0px;
        transform: scale(0.38);
        margin-right: 1.4rem;
    }
}  
