.custom-input-wrapper {
  position: relative;
  margin-block-end: 2.5rem;
  &.search-input {
    margin-block-end: 0;
    flex-grow: 1;
    .custom-input {
      &__input {
        width: 100%;
      }
    }
    @media (max-width: 430px) {
      & + [data-tooltip-active=true]:hover::before {
        transform: translate(-90%, 0) scale(1);
      }
      [dir="rtl"] & + [data-tooltip-active=true]:hover::before {
        transform: translate(-10%, 0) scale(1);
      }
    }
  }
  &.file-input-wrapper {
    position: relative;
    align-items: center;
    display: flex;
    .custom-input__icon {
      position: static;
      flex-shrink: 0;
      background-color: $mainWhite;
      border-radius: 50%;
      height: 2.4rem;
      width: 2.4rem;
      padding: .5rem;
      display: flex;
      justify-items: center;
      align-items: center;
      box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
      svg {
        height: 100%;
      }
    }
    input[type="file"] {
      height: 0;
      width: 0;
      opacity: 0;
      clip-rule: 0 0 0 0;
      position: absolute;
      z-index: -11;
    }
    .custom-input {
      padding-inline-start: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .custom-input__input + .custom-input__label-container {
      position: static;
      pointer-events: auto;
      transform: none;
      padding-inline-start: 0;
      strong {
        color: $mainBlue;
      }
      & > .custom-input__label {
        padding: 0;
        display: flex;
        gap: 1ex;
      }
    }
  }
}

.custom-input {
  &__input {
    border: 0px solid #e2e0db;
    background-color: $colorWhite;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 2rem;
    width: 300px;
    overflow: visible;
    border-radius: 10rem;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1));
    transition: 0.2s ease-in-out;
    min-height: 4rem;
    color: $mainGray;
    padding-inline-start: 2rem;

    &:focus {
      border: 1px solid $mainBlue;
      outline: none;

      & + .custom-input__label-container {
        top: 0;
        .custom-input__label {
          font-size: 1.2rem;
          color: $mainGray;
          background: $mainWhite;
          padding: 0  0.5rem;
        }
      }
    }

    &:not(:focus).error {
      border-color: $colorError;
    }

    &:not(:placeholder-shown) + .custom-input__label-container {
      top: 0;
      .custom-input__label {
        font-size: 1.2rem;
        color: $mainGray;
        background: $mainWhite;
        padding: 0  0.5rem;
      }
    }
  }

  &__label-container{
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding-inline-start: 2rem;
    left: 0;
  }

  &__icon {
    position: absolute;
    left: 0;
    z-index: 1;
    height: calc(100% - 2px);
    top: 1px;
    border-inline-end: 1px solid #E2E0DB    ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    svg {
      height: 2rem;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 1.4rem;
    color: $secondaryGray;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }

  &__label-container {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
  }

  &__error-msg {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    color: $colorError;
    font-size: 1.2rem;
    left: 0;
    padding-inline-start: 0.5rem;
  }

  &__success-msg {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    color: $colorSuccess;
    font-size: 1.2rem;
    left: 0;
    padding-inline-start: 0.5rem;
  }

  &.icon {
    .custom-input__input {
      padding-inline-start: 6rem;
    }

    .custom-input__label,
    .custom-input__label-container {
      left: 6rem;
    }
  }
}

html[dir='rtl'] {
  .custom-input {
    &__error-msg {
      left: initial;
      right: 0;
    }
  }
}
