.custom-select {
  display: inline-block;
  min-width: 19.7rem;
  text-align: left;
  position: relative;
  font-size: 1.4rem;

  &__label {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% - 1rem));
  }

  &__tag {
    color: $mainBlue;
    padding-bottom: 3.5rem;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .sortBy{
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__value {
    background: $colorWhite;
    border-radius: 20px;
    box-shadow: -2px -2px 6px #ffffff, 3px 3px 6px rgba(174, 174, 192, 0.4);
    width: 100%;
    border: none;
    min-height: 3.7rem;
    text-align: left;
    color: $mainBlue;
    font-weight: 600;
    padding: 0 2.2rem;
    cursor: pointer;
    padding-inline-end: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .arrow {
      display: inline-block;
      position: absolute;
      right: 2rem;
      transition: transform 0.2s ease-in-out;
    }
    .arrow::after {
      content: "";
      width: 3px;
      height: 1rem;
      left: 50%;
      top: 50%;
      background-color: $mainBlue;
      display: block;
      position: absolute;
      border-radius: 2px;
      transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
      transform-origin: bottom;
    }
    .arrow::before {
      content: "";
      width: 3px;
      height: 1rem;
      left: 50%;
      top: 50%;
      background-color: $mainBlue;
      display: block;
      position: absolute;
      border-radius: 2px;
      transform: translate(calc(-50% - 1px), -50%) rotate(45deg);
      transform-origin: bottom;
    }
    &--active {
      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__options {
    z-index: 10;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-block-start: 8px;
    background: #f7f7f7;
    box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 16px;
    color: #00546f;
    padding: 10px;
    position: absolute;
    width: 100%;
  }

  &__option {
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: 100ms linear;

    &--selected {
      background: #f0f0f0;
    }

    &:hover {
      &:after {
        content: "";
        position: absolute;
        width: calc(100%);
      }
      background-color: $mainBlue;
      color: #ffffff;
    }
  }
}


html[dir='rtl'] {
  .custom-select {

    &__value {
      text-align: right;
    }

    .arrow {
      right: initial;
      left: 2rem;
    }

    &__options {
      text-align: right;
    }
  }
}
