.order-feedback-page {
  margin-top: 5rem;

  &__greeting {
    color: $mainBlue;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.3rem;
    margin-bottom: 1.2rem;
  }

  &__order {
    margin-top: 3.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to('small') {
      flex-direction: row;
      height: 100%;
    }
  }

  &__form {
    margin-top: 3.6rem;
  }

  &__rate-boxes {
    display: flex;
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
    flex-direction: column;
    height: 18rem;
    justify-content: space-between;

    @include respond-to('small') {
      flex-direction: row;
      height: 100%;
      justify-content: normal;
    }
  }

  &__note-section {
    display: block;

    &--hidden {
      display: none;
    }
  }

  &__note-subtitle {
    margin-bottom: 2.4rem;
  }

  &__order_id {
    margin-bottom: 1.2rem;

    @include respond-to('small') {
      margin-bottom: 0;
    }
  }

  &__order-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    background: $mainWhite;
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 1.6rem;
    gap: 0.6rem;
  }

  &__order-details-item {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: $secondaryGray;
  }

  &__form-validation-messages {
    margin-top: 2.4rem;
  }

  &__form-button {
    margin: 2.4rem 0;
  }
}
