.tastewheel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  padding-block-start: 2rem;
  &__selection {
    span {
      text-transform: capitalize;
    }
    &:not(.static) {
      @include respond-to('small') {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  
    &.static {
      display: inline-block;
      vertical-align: middle;
      @media (max-width: 768px) {
        display: block;
        margin-block-end: .5rem;
        text-align: center;
        p {
          margin-inline-end: 0;
        }
      }
    }
  }
  
  path[fill-opacity="0"] {
    cursor: initial !important;
  }

  &:not(.tastewheel--major-notes) {
    svg {
      transform: scale(1.25);
      transform-origin: center;
    }
  }

  & > svg {
    width: 100%;
    flex-shrink: 0;
    text-transform: capitalize;
    path[fill-opacity="0.6"],
    path[fill-opacity="0.4"]{
      transition: fill-opacity 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
      &:hover {
        fill-opacity: .9;
      }
    }
  }
  &--actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 6rem;
    & > .btn {
      margin-inline-end: 0;
      margin-inline-start: auto;
    }
  }
  @media (max-width: 768px) {
    display: none;
    & + &--actions {
      display: none;
    }
  }

  &--mobile {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 70vh;
    }
    .custom-select {
      margin: 1rem 0;
      text-transform: capitalize;
    }
    .custom-select__value {
      text-transform: capitalize;
    }
    .btn {
      margin-block-start: auto;
      margin-block-end: 0;
      width: 100%;
    }
  }
}

html[dir='rtl'] {
  .tastewheel--mobile {
    .tastewheel__selection {
      position: static;
    }
  }
  .tastewheel {
    &__selection:not(.static) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
