.vat-info {
  background-color: $darkWhite;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-block-end: 1rem;

  &__heading {
    color: $colorBlack;
    margin-block-end: 0.6rem;

    svg {
        margin-inline-end: 0.5rem;
    }

    & > * {
        display: inline-block;
        vertical-align: middle;
      }
  }
}
