.product-sections {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  position: relative;
  box-shadow: 0px -15px 100px 0px rgba(0, 0, 0, 0.05);
  padding-right: 2rem !important;
  padding-left: 2rem;

  @media (max-width: 768px) {
    gap: 0rem !important;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
}

.product-section {
  .heading-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .section-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #00546F;
  }
}

.horizontal-container1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding-bottom: 2rem !important;
  max-width: 100vw;
  padding: 0 2rem;
  padding-top: 2rem;
  overflow-x: auto;


  @media (max-width: 768px) {
    gap: 0rem !important;
    overflow-x: auto;
    padding: 0 0rem;
    padding-top: 7rem;
    padding-bottom: 0 !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.horizontal-item {
  flex: 0 0 auto;
  width: 25.9rem;
}


.sort-icon {
  position: absolute;
  top: 1rem;
  right: 3rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}