header {
    width: 100%;
    height: 8.2rem;
    padding: 0 3.5rem;
    z-index: 100;

    &.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: $mainWhite;

    }

    @media (max-width: 768px) {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        padding: 0.7rem 1.6rem;
    }

    .auth-navbar {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding-top: 16px;
            justify-content: space-between;
        }

        .auth-nav-links-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.2rem;
                margin: 0 4.2rem;

                @media (max-width: 1024px) {
                    margin-left: 0 2.2rem;
                    gap: 1.1rem;
                }

                .nav-link {
                    font-size: 16px;

                    @media (max-width: 1024px) {
                        font-size: 13px;
                    }

                    &.active {
                        font-weight: 600;
                        text-decoration: underline;
                        text-underline-offset: 3px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        &__items {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &>*:not(:last-child) {
                margin-inline-start: 1.8rem;
            }

            .btn-wishlist {
                position: relative;

                .product-count-badge {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translate(-44%, 100%);
                }
            }

            .profile-options-dropdown {
                width: auto !important;
                min-width: 10rem;
                right: -4.5rem !important;

                .btn {
                    text-align: initial !important;
                    text-wrap: nowrap;
                }
            }

            .menuBackContainer {
                position: fixed;
                width: 100vw;
                height: 100vh;
                z-index: 190;
                top: 0;
                left: 0;
                cursor: pointer;
            }
        }

        &__user_icon:hover {
            cursor: pointer;
        }

        .custom-select__options {
            margin-block-start: 1rem;
            left: initial;
            right: 0;
        }
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        padding: 0 1rem;
        width: 32rem;

        @media (max-width: 768px) {
            width: 100%;
            padding: 0;
            margin: 2rem 0;
        }

        .search-bar {
            width: 100%;
            z-index: 99;
        }

        .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 100 !important;
            position: absolute;
            background-color: white;

            &.align-right {
                right: 2rem;
            }

            &.align-left {
                left: 2.5rem;
            }
        }
    }

    .show-desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }

    .show-mobile {
        display: none;
        width: inherit;

        @media (max-width: 768px) {
            display: inline;
        }
    }
}