.checkout-new-address {
  .form-actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block-end: 3rem;
    justify-content: center;
    @include respond-to('medium') {
      justify-content: flex-end;
    }

    .btn {
      margin: 0
    }
  }

  form {
    & > div:not(.fields-group) {
      padding-block-start: 1rem;
      overflow: hidden;
    }
  }

  .fields-group {
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 1rem;
    &.error {
      border: .1rem solid $colorError;
    }
  }
  .form__error-msg {
    text-align: center;
    color: $colorError;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 0.5rem;
  }
}
