.checkout-address-tile {
  box-shadow: 0px 8px 24px rgba(0, 4, 13, 0.11);
  padding: 2rem;
  border-radius: 0.8rem;
  background: $colorWhite;
  border: none;
  cursor: pointer;
  text-align: left;
  position: relative;
  width: 100%;
  transition: 200ms;

  @include respond-to('x-small') {
    width: min(100%, calc(50% - 4px));
  }

  @include respond-to('x-large') {
  width: min(30rem, calc(33% - 4px));
  }

  %icon-button {
    border: none;
    background: none;
    position: absolute;
    top: 0px;
    padding: 0;
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
  }
  
  &__edit {
    @extend %icon-button;
    right: 4.6rem;
  }
  
  &__delete {
    @extend %icon-button;
    right: 7.6rem;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__check {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    background: $mainWhite;
    border: 1px solid $colorInactive;
  }
  &--add {
    text-align: center;
    svg {
      margin-block-end: 1rem;
    }
  }

  &.selected {
    background: $mainBlue;

    .checkout-address-tile__text {
      color: $colorWhite;
    }

    .checkout-address-tile__check {
      background: transparent;
      border: 1px solid $colorInactive;
      padding: 1rem;
      &::after {
        content: '';
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background: $colorWhite;
      }
    }
  }

  &__text:not(:last-of-type) {
    margin-block-end: 0.8rem;
  }
  
}