.brew-step {

  &__img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: max(22rem, 40%);

    @include respond-to('medium') {
      position: absolute;
      bottom: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: max(34rem, 25vmin)
    }
  }

  &__title {
    color: $mainBlue;
    display: flex;
    align-items: flex-end;
    gap: .5ch;
    svg {
      align-self: flex-end;
      margin-block-end: -6px;
    }
  }
}