.login {
  &__header {
    color: $mainBlue;
    text-align: start;
  }

  &__page-wrapper {
    text-align: center;
    max-width: min(40rem, 90%);
    margin: auto;

    background-color: '#D3D3D3';
    border-radius: 1.2rem;
    box-shadow: 0 4px 20px rgba(173, 216, 230, 0.7);
    padding: 3rem 3rem;

    .alert {
      margin-top: 1rem;
      margin: auto;
    }

    @media (max-width: 768px) {
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
    }
  }

  &__input {
    background: transparent;
    font-size: 2.4rem;
    text-align: center;
    height: 4rem;
    box-shadow: none;
    border: 0;

    &.phone-number {
      width: 68%;
    }

    &:focus {
      outline: none;
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    background: $colorWhite;
    border: 0.1rem solid #E2E0DB;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
    border-radius: 10rem;
    height: 4rem;
    padding-right: 0.6rem;
    direction: ltr;


    .country-code-container {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      padding-right: 2.75rem;
      margin-right: 2.75rem;
      padding-left: 25px;
      border-right: 1px solid #E2E0DB;
      height: 105%;
      width: 76px;

      .country-selector-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0;

        .country-flag-icon {
          width: 24px;
          margin-right: 8px;
        }

        .dropdown-arrow-icon {
          font-size: 12px;
        }
      }
    }
  }

  &__input-container2 {
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    background: $colorWhite;
    border: 0.1rem solid #E2E0DB;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
    border-radius: 10rem;
    height: 4rem;
    margin-top: 23px;
    direction: ltr;

    &:focus {
      outline: none;
    }
  }


  &__input {
    background: transparent;
    font-size: 1.6rem;
    text-align: left;
    height: 100%;
    box-shadow: none;
    border: 0;
    padding: 0;

    &.phone-number {
      width: 100%;
    }


    @include respond-to('mobile') {
      width: 3.5rem;
      padding: 0;
    }
  }

  &__form-element {
    padding-top: 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.digits {
      margin: 0 -1rem;

    }

    .modal-wrapper &.digits {
      margin: 0 -3rem;
    }
  }

  &__form-element1 {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.digits {
      margin: 0 -1rem;

    }

    .modal-wrapper &.digits {
      margin: 0 -3rem;
    }
  }

  &__form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__button-wrapper {
    width: 40rem;
  }

  &__google {
    padding: 2rem 0;

    p {
      margin-block-end: 2rem;
    }
  }
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 10;
  min-height: 87vh;
}

.verification-code-form {
  text-align: center;

  .alert {
    margin: 1rem auto 0;
  }

  .verification-resend {
    font-size: 1.6rem;
    margin: 1rem 0;

    &>span {
      margin-inline-end: 0;
    }
  }
}

a:visited,
a:link {
  color: $mainBlue !important;
}

.phone-number-container {
  display: flex;
  align-items: stretch;

  .login__country-code {
    width: 70px;
    position: relative;
    border-right: 1px solid #ccc;

    .login__input {
      width: 70px;
    }
  }
}

.country-code {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 1.6rem;
  margin-left: -16px;

}

.each-code-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 30px;
    width: 30px;
  }
}

.country-code-dropdown {
  position: absolute;
  height: 223px;
  overflow-y: auto;
  border-radius: 5px;
  margin-top: 260px;
  margin-left: -13px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  width: 40% !important;
  display: flex;
  flex-direction: column;

  .country-search-input {
    width: 100%;
    padding: 8px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    outline: none;
    padding: 8px;

    &:focus {
      border-color: #aaa;
    }
  }

  .country-list-scrollable {
    padding: 0px 8px;
  }
}

.country-code-button {
  background: none;
  border: none;
  padding: 10px 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.country-code-button:hover {
  background-color: #f0f0f0;
  /* Change background on hover */
}

/* Style the scrollbar (if needed) */
.country-code-dropdown::-webkit-scrollbar {
  width: 8px;
}

.country-code-dropdown::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.country-code-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.turnstile-wrapper {
  margin-top: 2rem;
}