.payment-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-page__heading {
  margin-bottom: 100px;
}

.payment-page__subheading {
  margin-bottom: 30px;
}
