.modal-wrapper {
  position: fixed;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmin;
  background-color: rgba(0,0,0,.2);
  opacity: 0;
  transition: 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  &.is-open {
    z-index: 1000;
    opacity: 1;

    .modal-content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.alert {
    & .modal-content {
      padding: 6rem;
      max-width: 44rem;

      & .btn {
        &:hover {
          padding: 0.2 2rem;
        }
      }

      @include respond-to('mobile') {
        padding: 5rem 3rem;
      }

      .modal-header {
        .modal-close {
          position: absolute;
          top: 2rem;
          right: 3rem;

          @include respond-to('mobile') {
            top: 1rem;
            right: 1rem;
          }
        }
      }

      & > div:not(.modal-header) {
        width: 100%;
        overflow: visible;
        flex-grow: 1;
      }
    }
  }

  &.fixed-width {
    .modal-content {
      width: min(768px, 100%);
    }
  }
}

.modal-content {
  background-color: $mainWhite;
  border-radius: 2rem;
  box-shadow: 0.5rem 4rem 4rem rgba(30, 26, 20, 0.21), 0.1rem -0.1rem 0 #c6aa85,
    0.15rem 0.15rem 2rem rgba(174, 174, 192, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 4vmin);
  transform: translateY(-20%);
  transition: 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 0;

  .modal-body {
    overflow-y: auto;
    width: 100%;
    flex-grow: 1;
    padding: clamp(1rem, 2vmin, 2rem);
    padding-block-start: 0;
  }
}

.modal-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  padding: clamp(1rem, 2vmin, 2rem);


  .modal-close {
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    cursor: pointer;
    margin-inline-start: auto;
  }
}

.modal-title {
  color: $mainBlue;
  font-weight: 400;
  margin-inline-end: 2rem;
}
