.profile-addresses {
  form {
    .custom-input__input {
      width: 100%;
    }

    margin-block-end: 2rem;
  }

  .form__address-purpose {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-block-end: 2.5rem;
    position: relative;

    @include respond-to('small') {
      flex-direction: row;
      gap: 3rem;
      & > * {
        flex-basis: 100%;
      }
    }
  }
  .fields-group {
    margin: .5rem -.5rem;
    padding: .5rem;
    border-radius: 1rem;
    &.error {
      border: .1rem solid $colorError;
    }
  }
  .form__error-msg {
    text-align: center;
    color: $colorError;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 0.5rem;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1rem;

    .btn {
      margin: 0;
      flex-basis: 100%;

      @include respond-to('medium') {
        flex-basis: auto;
      }
    }

    @include respond-to('small') {
      flex-direction: row;
    }
  }
}