.checkout-page {
  .custom-input__input {
    width: 100%;
  }

  .order-summary-list {
    margin-top: 2rem;
  }

  .alert {
    margin-top: 1rem;
  }

  .stepper-indicator {
    justify-content: flex-start;
  }

  .custom-checkbox {
    margin-bottom: 2rem;
  }

  .delivery-options {
    display: flex;
    gap: 3rem;
    margin-block-end: 3.6rem;
    flex-wrap: wrap;
    .btn-checkbox {
      background-color: $colorWhite;
      border-color: $colorWhite;
    }
  }

  .pending-payment {
    margin-top: 2rem;
  }
}
.checkout {
  &__col {
    padding: 0 1rem;

    @include respond-to('x-small') {
      padding: 0 2rem;
    }

    @include respond-to('x-large') {
      padding: 0 3rem;
    }

    @include respond-to('xx-large') {
      padding: 0 4rem;
    }

    @include respond-to('wide') {
      padding: 0 6rem;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .btn {
      margin: 0;
      @include respond-to('mobile') {
        flex-basis: 100%;
      }

      @include respond-to('x-small') {
        flex-basis: calc(50% - 0.5rem);
      }

      @include respond-to('medium') {
        flex-basis: 100%;
      }

      @include respond-to('wide') {
        flex-basis: calc(50% - 0.5rem);
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;

    .btn {
      margin: 0;
      margin-left: 1rem;
    }
  }

  &-sidebar {
    padding: 10rem 1rem;

    @include respond-to('x-small') {
      padding: 10rem 4rem;
    }
  }

  &-new-address {
    .custom-input__input {
      width: 100%;
    }

    .custom-checkbox
    {
      margin: 1rem 0;
    }
  }

  &-item {
    margin-bottom: 3rem;
  }

  &__form-wrap {
    margin-top: 4rem;
  }

  &-step {
    &__heading,
    &__subheading {
      margin-bottom: 2rem;
      color: $mainBlue;
    }

    &__subheading {
      & > * {
        display: inline-block;
        vertical-align: middle;
      }

      .btn {
        font-weight: 700;
        margin-left: 1rem;
      }
    }
    .custom-select {
      width: 100%;
    }
  }

  &__store-pick {
    background: #f7f7f7;
    border: none;
    border-radius: 20px;
    box-shadow: -2px -2px 6px #ffffff, 3px 3px 6px rgba(174, 174, 192, 0.4);
    color: $mainBlue;
    cursor: pointer;
    font-weight: 600;
    min-height: 4rem;
    padding: 0 1rem;
    -webkit-padding-end: 3rem;
    padding-inline-end: 3rem;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .text {
      color: $mainBlue;
    }
  }
}

.separator {
  margin: 2rem .8rem;
  border-color: #F7F7F7;
}

.link {
  margin: 0 1rem;

  .link-icon {
    width: 12px;
    height: 12px;
  }
}

