.address-box {
  background: $mainWhite;
  box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-radius: 0.8rem;
  padding: 2rem;
  margin-block-end: 2rem;
  padding-inline-end: 4rem;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;

    @include respond-to('small') {
      flex-direction: row;
    }

    .text:not(.checkbox__adnotation) {
      word-break: break-word;
    }
  }

  button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    svg {
      box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
      border-radius: 10rem;
    }
  }

  .checkmark {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    margin-inline-start: auto;
    flex-shrink: 0;
    margin-inline-end: 0;
    cursor: pointer;
  }

  .checkmark::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    border-radius: 10rem;
    border: 1px solid $mainBlue;
    vertical-align: middle;
  }

  .checkmark::after {
    position: absolute;
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 1.6rem;
    height: 1.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10rem;
    background-color: $mainBlue;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.28, 0.05, 0.605, 1.48);
  }

  input:checked + .checkmark {
    &::after {
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.28, 0.05, 0.605, 1.48);
    }
  }

  input:focus + .checkmark {
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 2px $mainBlue;
    outline: none;
    transition: 100ms;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .checkbox {
    position: relative;
    margin-inline-start: 2rem;
    &__adnotation {
      position: absolute;
      bottom: 0;
      color: #00546f;
      left: 50%;
      transform: translate(-50%, 100%);
    }
  }
}
