.react-select-container {
    width: 300px;

    &.error {
        .react-select__control {
            border-color: $colorError;
        }
    }

    .react-select__control {
        border: 1px solid #e2e0db;
        background-color: $colorWhite;
        overflow: visible;
        border-radius: 10rem;
        box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
        transition: 0.2s ease-in-out;
        min-height: 4rem;
        color: $mainGray;
        padding-inline-start: 2rem;
        position: relative;
        flex-wrap: nowrap;

        &--is-focused{
            border-color: $mainBlue;
        }
    }

    .react-select__input-container {
        font-size: 1.3rem;
        color: $mainGray;
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;

        input {
            font-size: 1.3rem;
            display: block;
            transform: translateY(50%);
        }
    }

    .react-select__single-value {
        font-size: 1.4rem;
        color: $mainGray;
    }

    .react-select__placeholder {
        margin: 0
    }

    .react-select__value-container {
        padding: 0;
        position: static;
        overflow: hidden;
    }

    .react-select__menu {
        z-index: 10;
        margin: 0;
        padding: 0;
        margin-block-start: 8px;
        box-shadow: -1px -1px 3px #eeeeee, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
        border-radius: 16px;
        padding: 10px;
        position: absolute;
        width: 100%;
    }

    .react-select__option {
        list-style-type: none;
        padding: 0.5rem 1rem;
        border-radius: 10rem;
        cursor: pointer;
        transition: 100ms linear;
        font-size: 1.4rem;

        &--is-focused {
            background: #f0f0f0;
        }

        &--is-selected {
            background-color: $mainBlue;
            color: #fff;
        }
    }
}

.custom-input-wrapper {
  .react-select-container {
    width: 100%;
  }
}
