input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.quantity__input {
  border: none;
}

.quantity__button {
  border: none;
  appearance: none;

  .plus-mark, .minus-mark {
    display: block;
    height: 20px;
    position: relative;
    width: 20px;
    margin: auto;
  }

  .minus-mark {
    &::after {
      content: '';
      position: absolute;
      background: $mainBlue;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      margin-block-start: 0;
      width: 100%;
      left: 0;
      border-radius: 3px;
    }
  }

  .plus-mark {
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &:before,
    &:after {
      background: $mainBlue;
      border-radius: 2px;
      content: '';
      position: absolute;
      right: 0;
    }
    &:before {
      background: $mainBlue;
      height: 100%;
      right: 50%;
      transition: all 300ms;
      width: 3px;
      transform: translate(50%, 0%);
    }
    &:after {
      background: $mainBlue;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      margin-block-start: 0;
      width: 100%;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    .plus-mark {
      &:before,
      &:after {
        background: $secondaryGray;
      }
    }
  }
}

.quantity {
  display: inline-flex;
  box-shadow: 1px 2px 2px gray;
  color: $mainBlue;
  font-size: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  overflow: hidden;
  box-shadow: -2px -3px 3px -1px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  margin: auto;

  &__button {
    color: $mainBlue;
    font-size: 3rem;
    padding: 1rem 2rem;
    cursor: pointer;
    overflow: hidden;
    background-color: $mainWhite;
  }

  &__input {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    box-sizing: content-box;
    position: relative;
    min-width: 2ch;
    border-left: 1px solid $darkWhite;
    border-right: 1px solid $darkWhite;
    background-color: $mainWhite;
  }
  &__button--left {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }

  &__button--right {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
}
