.inactive-product-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  &__content {
    padding: 0 2rem;
    width: min(41rem, 100%);
    margin: auto;
    aspect-ratio: 16/9;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    margin-bottom: 4rem;
    height: auto;
    width: 100%;
  }

  &__heading {
    margin-top: 2.5rem;
  }

  &__heading,
  &__subheading {
    display: block;
    margin-bottom: 2.5rem;
  }

  &__heading {
    color: $mainBlue;
  }
}
