.going-back-section {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0;
  }

  .icon-container {
    height: 3rem;
    width: 3rem;

    &.arabic {
      rotate: 180deg;
    }
  }

  .go-back-text {
    font-weight: bolder;
  }
}

.blogs-main-layout{
  position: relative;  
}

.loader-container{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.share-link-button{
  border: none;
  padding: 0;
  cursor: pointer;
}

.blog-description-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 2rem;
  }

  .blog-description-right-container {
    position: fixed;
    top: 40vh;
    height: auto;
    left: 5vw;
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .icon-container-border {
      padding: 1.5rem;
      background-color: $colorTertiaryGray;
  
      .icon-container {
        height: 2rem;
        width: 2rem;
      }

    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .blog-description-data-container {
    width: 60%;

    .blog-description-heading {
      margin-bottom: 1rem;
      color: $mainBlue;;
    }

    .blog-description-heading-caption {
      max-width: 100%;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 2rem;

      p{
        span{
          background-color: transparent !important;
          font-family: 'expo arabic', "the sans", sans-serif !important;
          font-feature-settings: 'lnum' on !important;
          line-height: 2.2rem !important;
          color: $secondaryGray !important;
          font-weight: bold !important;
          color: black !important;
          font-size: 1rem r !important;
        }
      }
      
      @media (min-width: 768px) {
        line-height: 2.4rem;
      }

      @media (min-width: 1200px) {
         font-size: 16px;
         line-height: 2.6rem;
      }
    }

    .blog-description-data {
      margin-bottom: 3rem;

      .author-section {
        display: flex;
        gap: 1rem;
        margin-bottom: 3rem;

        .author-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.5rem;
          .author-name {
            text-decoration: underline;
          }
        }

        img {
          width: 5rem;
          height: 5rem;
          border-radius: 100%;
        }
      }

      .blog-description-meta-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .left-container {
          display: flex;
          align-items: center;
          gap: 1rem;

          .read-time {
            display: flex;
            align-items: center;
            gap: 1rem;

            .time-text{
              font-weight: bold;
              text-decoration: underline;
            }

            .clock-icon-container {
              height: 3rem;
              width: 3rem;
            }
          }
        }

        .right-container {
          display: flex;
          gap: 1rem;

          .icon-container {
            height: 3rem;
            width: 3rem;
            background-color: transparent;
          }
        }
      }

      .blog-description-data-container {
        width: 100%;

        img {
          width: 100%;
          margin-bottom: 3rem;
        }

        .text-data {

          margin-bottom: 1.8rem;
          
          p{
            
            span{
              background-color: transparent !important;
              font-family: 'expo arabic', "the sans", sans-serif !important;
              font-feature-settings: 'lnum' on !important;
              margin-bottom: 3rem !important;
              line-height: 2.2rem !important;
              color: $secondaryGray !important;
              font-weight: bold !important;
              font-size: 14px !important;

              @media (min-width: 768px) {
                line-height: 2.4rem !important;
               }
     
              @media (min-width: 1200px) {
                 font-size: 16px !important;
                 line-height: 2.6rem !important;
              }
            }

            strong {
              font-family: 'expo arabic', "the sans", sans-serif !important;
              font-weight: bold !important;
            }

            img{
              margin: 30px 0px !important; 
            }
          }

          @media (min-width: 768px) {
           line-height: 2.4rem;
          }

          @media (min-width: 1200px) {
            font-size: 16px;
            line-height: 2.6rem;
           }
        }

        .blog-description-footer {
          display: flex;
          justify-content: space-between;

          .icon-container {
            height: 2rem;
            width: 2rem;
          }

          .blog-description-footer-left {
            .icon-container-border {
              padding: 1.5rem;
              background-color: #e6e6e6;
            }
            gap: 1rem;
            display: flex;
          }
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
