.custom-chip {
    display: inline-flex;
    align-items: center;
    background-color: #063b46;
    color: #fff;
    padding: 4px 10px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 16px;
    margin-left: 6px;
    text-transform: uppercase;
}