.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  border-top: 1px solid #ddd;
  z-index: 100;

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: black;
    position: relative;
    opacity: 0.5;

    img {
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
    }

    &.active {
      opacity: 1;
      color: $mainBlue;

      img {
        opacity: 1;
      }
    }

    .dot {
      position: absolute;
      top: 2px;
      right: 12px;
      width: 8px;
      height: 8px;
      background-color: #ff385c;
      border-radius: 50%;
    }
  }
}