.overlay-wrapper {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transform: translateY(-100%) scale(0);
  transform-origin: bottom center;
  opacity: 0;
  transition: 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);

  @include respond-to('medium') {
    display: none;
  }

  &.is-open {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.overlay-content {
  background-color:  $mainWhite;
  box-shadow: 0.5rem 4rem 4rem rgba(30, 26, 20, 0.21), 0.1rem -0.1rem 0 #c6aa85,
    0.15rem 0.15rem 2rem rgba(174, 174, 192, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2vmin;

  &-body {
    width: 100%;
    height: 100%;
  }
  & > div:not(.overlay-header) {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.overlay-header {
  display: flex;
  align-items: center;
  width: 100%;
  & > svg {
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    cursor: pointer;
    margin-inline-start: auto;
  }
}