[data-tooltip-active="true"] {
  position: relative;

  &::before {
    content: attr(title);
    position: absolute;
    bottom: 105%;
    left: 50%;
    color: $mainWhite;
    background-color: $lightBeige;
    display: inline-block;
    padding: .5rem;
    border-radius: .8rem;
    min-width: 20ch;
    transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: -1;
    transform: translate(-50%, 0) scale(0);
    transform-origin: bottom center;
    opacity: 0;
  }

  &:hover {
    &::before {
      z-index: 1;
      transform: translate(-50%, 0) scale(1);
      opacity: 1;
    }
  }
}