.consent-container {
    position: fixed;
    bottom: 0;
    background-color: $darkWhite;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    @include respond-to('mobile') {
        padding: 4rem 2rem;
    }

    .text-section {
        font-size: 1.75rem;
        width: 90%;
        max-width: 1400px;
        color: $mainBlue;

        @media (min-width: 576px) and (max-width: 1024px) {
            font-size: 1.5rem;
        }

        @include respond-to('mobile') {
            font-size: 1.25rem;
        }

        .banner-heading{
            font-weight: bolder;
            margin-bottom: 0.3rem;
        }
        .banner-text {
            margin-bottom: 1.5rem;

            @media (min-width: 576px) and (max-width: 1024px) {
                margin-bottom: 1.25rem;
            }
        }
        a{
            text-decoration: underline;
        }
    }

    .consent-button-section {
        width: 90%;
        max-width: 1400px;
        display: flex;
        justify-content: flex-end;
        margin-right: 1.5rem;

        @media (max-width: 768px) {
            justify-content: center;
            margin-right: 0;
        }

        .consent-btn {
            background: $mainBlue;
            font-size: 1.5rem;
            font-weight: bolder;
            padding: 1rem;
            width: 16rem;
            border-radius: 1rem;
            outline: none;
            border: none;
            color: white;
            cursor: pointer;

            @media (min-width: 576px) and (max-width: 1024px) {
                font-size: 1.25rem;
                width: 12rem;
                border-radius: 0.75rem;
            }

            @include respond-to('mobile') {
                font-size: 1rem;
                width: 9rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
            }
        }
    }
}