@use 'sass:math';

$breakpoints: (
  'mobile': ( max-width: 575px ),
  'x-small': ( min-width: 576px ),
  'small':  ( min-width:  768px ),
  'medium': ( min-width:  1024px ),
  'large':  ( min-width: 1200px ),
  'x-large': ( min-width: 1440px ),
  'xx-large': (min-width: 1600px),
  'wide': (min-width: 1920px)
) !default;

/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`."
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1)
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}