//Theme main colors
$mainBlue: #00546F;
$lightBlue:#1D648A;
$darkBlue: #00475E;

//Theme secondary colors
$mainBeige: #A0845F;
$lightBeige: #B29875;
$darkBeige: #8F724C;

//Theme tertiary colors
$mainWhite: #F7F7F7;
$lightWhite: #FCFCFC;
$darkWhite: #F0F0F0;

//text colors
$mainGray: #373C3D;
$secondaryGray: #9A97A4;

//Helper Colors
$colorError: #FD5C5C;
$colorWarning: #E6B711;
$colorSuccess: #60C19E;
$colorInactive: #BEBEBE;

$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorCyan: #A9D9D8;
$colorTertiaryGray: #e6e6e6;










