@import './variables';

:root {
  --toastify-color-warning: #E6B711;
  --toastify-color-error: #FD5C5C;
  --toastify-color-success: #60C19E;
  --toastify-toast-background: #F7F7F7;
}

@font-face {
  font-family: 'expo arabic';
  src: url('../fonts/expoarabic-light-webfont.woff2') format('woff2'),
       url('../fonts/expoarabic-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'the sans';
  src: url('../fonts/thesans-regular-webfont.woff2') format('woff2'),
       url('../fonts/thesans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    font-family: 'expo arabic', "the sans", sans-serif;
    font-feature-settings: 'lnum' on;
  }
}

html[dir="ltr"] .Toastify__progress-bar {
  left: 0 !important;
  right: initial !important;
  transform-origin: left !important;
  animation-direction: reverse !important;
}

html[dir="rtl"] .Toastify__progress-bar {
  right: 0 !important;
  left: initial !important;
  transform-origin: right !important;
  animation-direction: reverse !important;
}

body {
  margin: 0;
  background-color: $mainWhite;
}

.text__center {
  text-align: center !important;
}

.text__rtl {
  direction: rtl;

  html[lang="en"] & {
    text-align: left;
  }

  html[lang="ar"] & {
    text-align: right;
  }
}
*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
  padding: 0;
}

html {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;

  .container {
    flex-grow: 1;
  }
}

.flex {
  display: flex;
  & > div {
    padding: 1rem 0rem;
    @include respond-to('medium') {
      padding: 0rem 1rem;
    }
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.ReactCollapse--content {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.verification-code-modal {
  text-align: center;

  form {
    position: relative;
  }

  .alert {
    margin-top: 1rem;
  }

  .verification-resend {
    font-size: 1.6rem;
    margin: 1rem 0;

    & > span {
      margin-inline-end: 0;
    }
  }
}

.swiper-button-next {
  right: 0;
  &:after {
    font-size: 2rem;
    color: $mainBlue;
  }
}

.swiper-button-prev {
  left: 0;
  &:after {
    font-size: 2rem;
    color: $mainBlue;
  }
}
