.preference-container{
  &__no-preference {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $mainBlue;

    .text-subtitle {
      color: $mainBlue !important;
    }
  }
}
