.product-preference-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: $mainWhite;
  box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-radius: 8px;
  justify-content: center;
  padding: 1rem;
  width: 100px;

  &__title {
    color: $mainBlue;
    margin-block-start: 1rem;
    text-align: center;
    &.tastes {
      text-transform: capitalize;
    }
  }
}
