.rate-box {
  &__label {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 0.8rem;
    height: 5rem;
    width: 150px;
    margin: 0 1.6rem;

    @include respond-to('small') {
      flex-direction: column;
      height: 10.6rem;
      width: 9.6rem;
    }
  }

  &__input {
    visibility: hidden;
    appearance: none;
    position: absolute;
  }

  &__checkmark {
    border: 1px solid #00546F;
    padding: 0.3rem;
    border-radius: 50%;
    
    &::after {
      background-color: #00546F;
      border-radius: 10rem;
      content: "";
      display: block;
      height: 1.4rem;
      width: 1.4rem;
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.28, 0.05, 0.605, 1.48);
    }
  }
}



.rate-box__input:checked + .rate-box__label {
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2), -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  .rate-box__checkmark {
    &::after {
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.28, 0.05, 0.605, 1.48);
    }
  }
}
