.error-page {
  padding-top: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    color: $colorError;
  }

  &__top {
    display: flex;
    justify-content: flex-start;

    .btn {
      margin: 0
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & > div {
      max-width: 43rem;

      svg {
        display: block;
        margin: auto;
      }
    }

    & > div > *:not(:first-child) {
      margin-top: 2rem;
    }
  }

  .message-box {
    background-color: $colorWhite;
    border: 1px solid $darkWhite;
    padding: 2rem;

    .text {
      color: $secondaryGray;
    }
  }

}
